//@charset "utf-9";
/*  XXXXXXXXXXXXXXXXXXXXXXX ATRIBUTOS RELATÓRIOS  XXXXXXXXXXXXXXXXXXXXXXX */
/* Título Superior do Relatório */
.t_s1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #55553E;
	font-weight: bold;
	text-decoration: none;
	background-color:#E5E5DB;
	height:27px;
	padding-left:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
}
/* Título Superior do Relatório */
.t_s {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #55553E;
	font-weight: bold;
	text-decoration: none; 
	padding-left: 14px; 
	width:529; 
	height:40;
}
/* Título Grande Relatório */
.t_imovel {
	font:bold 12px Arial, Helvetica, sans-serif;
	color: #3A3B68;
	background-color:#cEcEc1;
	padding:5px 15px;
	width:100%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A6A69C;
}

/* Título Grande Relatório */
.t_sg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #55553E;
	font-weight: bold;
	text-decoration: none;
}
/* Título do Relatório*/
.t_r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3A3B68;
	font-weight: bold;
	text-decoration: none;
	background-color:#DEDED1;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A6A69C;
	height:27px;
	padding-left:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
}
/* Título do Relatório center*/
.t_rc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3A3B68;
	font-weight: bold;
	text-decoration: none;
	background-color:#DEDED1;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A6A69C;
	height:27px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
	text-align: center;
}
/* Título do Relatório com valor */
.t_r_va 	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3A3B68;
	font-weight: bold;
	text-decoration: none;
	background-color:#DEDED1;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A6A69C;
	height:27px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
}
/* Footer do Relatório*/
.f_r 		{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #55553E;
	font-weight: bold;
	text-decoration: none;
	background-color:#E5E5DB;
	height:27px;
	padding-left:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
}
/* Footer do Relatório com valor */
.f_r_va 	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #55553E;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A6A69C;
	text-decoration: none;
	background-color:#E5E5DB;
	height:27px;
	padding-right:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
	align:right;
}
/* Resultado do Relatório*/
.r_r 		{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3A3B68;
	text-decoration: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A6A69C;
	height:27px;
	padding-left:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
}
/* Resultado do Relatório com valor*/
.r_r_va 	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3A3B68;
	text-decoration: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A6A69C;
	height:27px;
	padding-right:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
	text-align: right;
}
/* Demonstrativo com valor*/
.r_r_vd 	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3A3B68;
	text-decoration: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A6A69C;
	height:27px;
	padding-right:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
	text-align: left;
}
/* Resultado do Relatório da verba*/
.r_r_ve 	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3A3B68;
	text-decoration: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A6A69C;
	height:27;
	padding-left:15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6A69C;
}
/* Data do Relatório */
.d_r 		{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #55553E;
	font-weight: bold;
	text-decoration: none;
	width:100; height:40; padding-right: 5px;
}
/* Corpo Documento*/					body 		{background-color: #F2F2ED; margin : 1-0 0;}
/* Corpo msg*/						.body_msg 	{background-color: #F2F2ED; margin : 0-0 0;}
/* Tabelas do Relatório*/				table		{border-collapse:collapse; } 
/* Relatórios*/						#relatorio	{width:629;} 
/* Cabeçalho Relatório*/				#header		{width:929;}
/* Resposta Relatório*/					#resposta	{width:629;}
/* Tabelas da Mensagem*/				#tb_m		{width:150}
/* Linha separadora tabela*/				.hr		{background-color:#A6A69C; height:1;}
/* Título da Home*/					.t_h 		{font-family: Arial, Helvetica, sans-serif;
									 font-size: 12px;color: #245F93;
									 font-weight: bold;text-decoration: none;}
/* Texto da Home*/					.te_h 		{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #245F93; text-decoration: none;}
/* Texto da Home*/					.te_h:hover 	{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #245F93; text-decoration: underline;}
							.te_h2 		{font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #245F93; text-decoration: none;}
/* Padding right 20 Px*/				.pad_r20	{padding-right:20px}
/* Padding left 20 Px*/					.pad_l20	{padding-left:20px}
							.l_b 		{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #3A3B68;text-decoration: none;}
							.l_b:hover	{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #3A3B68;text-decoration: underline;}

/*  XXXXXXXXXXXXXXXXXXXXXXX ATRIBUTOS MENSAGENS  XXXXXXXXXXXXXXXXXXXXXXX */
/* Texto valor saldo frame*/				.valor_saldo_frame	{font-family: Arial, Helvetica, sans-serif;font-size: 18px;color: #55553E;font-weight: bold;text-decoration: none; padding-right: 13px;}
							.texto_msg_frame 	{padding-left:22px; padding-right:22px; padding-top:5px; background-image: url(../../imagens/admin_bg_ult_mensa.gif);}
							.link_msg_frame 	{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #4D7DA7;text-decoration: none;}
							.link_msg_frame:hover 	{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #4D7DA7;text-decoration: underline;}
							.qtd_msg_frame 		{font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #FF9900;text-decoration: none;font-weight: bold; background-image: url(../../imagens/admin_meio_mensagens_numero.gif);}
							.t_rm			{font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #3A3B68;font-weight: bold;text-decoration: none; background-color:#F2F2ED; border-right-width: 1px;border-right-style: solid;border-right-color: #A6A69C; height:27; padding-left:15px; border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #A6A69C;}
							.form_msg		{font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #3A3B68;width: 300px;}
/* Texto da mensagem*/					.te_m 			{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #3A3B68;text-decoration: none; border-right-width: 1px;border-right-style: solid;border-right-color: #A6A69C; height:27; padding-left:15px; padding-top:5px; padding-bottom:10px; border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #A6A69C;}
/* Titulo da mensagem*/					.ti_m 			{font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #3A3B68;text-decoration: none;font-weight: bold;}
/* Título do Relatório msg light*/			.t_rl 			{font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #3A3B68;text-decoration: none; background-color:#DEDED1; border-right-width: 1px;border-right-style: solid;border-right-color: #A6A69C; height:27; padding-left:15px; border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #A6A69C;}

/*  XXXXXXXXXXXXXXXXXXXXXXX ATRIBUTOS MURAL  XXXXXXXXXXXXXXXXXXXXXXX */
/* Propriedades iframe mural*/				.iframemural 		{background-attachment: fixed; background-color: #F2F2ED; background-image: url(../../imagens/mural_bg_testo.jpg); background-repeat: no-repeat; padding-left: 25px;padding-top: 5px; scrollbar-darkshadow-color:#333331;scrollbar-face-color:#CBCDC1;scrollbar-highlight-color:#E3E4D7;scrollbar-shadow-color:#72726C;scrollbar-3dlight-color:#808080;scrollbar-base-color:#ffffff;scrollbar-arrow-color:#72726C;}
/* Texto dentro iframe mural*/				.table_iframe		{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #72726C; text-decoration: none; padding-right: 5px;}
							.table_docs	 	{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #72726C; text-decoration: none;}
							.table_docs:hover	{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #72726C; text-decoration: underline;}
							.form_docs	 	{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #72726C; text-decoration: none; padding-left: 5px;width: 180px;}
							.select_docs 		{ font-weight: bold; background-color:#DEDED1;}
							.t_m 			{font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #55553E;font-weight: bold;text-decoration: none;}
							.form_nav		{font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #55553E;width: 200px;}
							.t_mb 			{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #55553E;font-weight: bold;text-decoration: none;}
							.t_ml 			{font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #55553E;text-decoration: none;padding-left:5px;}
							.mensagem_final 	{font-family: Arial, Helvetica, sans-serif;
										 font-size: 12px;
										 font-weight: normal;
										 color: #3A3B7C;
										 background-color: #DEDED1;
										 width: 630px;
										 padding: 20px;
										 margin-top: 10px;
										 margin-right: 0px;
										 margin-bottom: 0px;
										 margin-left: 0px;}